.container {
    background-color: #bda9a9;
    height: 100vh;
    display: grid;
    place-items: center;
    max-width: 100% !important;
}

.box {
    position: relative;
    width: 18em;
    height: 18em;
}

.box-tape,
.box-tape-left,
.box-tape-right,
.box-tape-center,
.box-gifts,
.box-gift-shadow,
.box-gift,
.box-star {
    position: absolute;
}

.box-tape-left,
.box-tape-center,
.box-tape-right {
    background-color: #cc2424;
}

.box-tape {
    animation: bTape 1.5s ease-in-out infinite;
    bottom: 11em;
    left: 7.5em;
    width: 3em;
    height: 2em;
    transform-origin: 50% 230%;
}

.box-tape-center {
    border-radius: 1em;
    width: 100%;
    height: 100%;
}

.box-tape-left,
.box-tape-right {
    box-shadow: 0 0 0 0.7em #ee2e2e inset;
    top: 0.3em;
    width: 4em;
    height: 5em;
    z-index: -1;
}

.box-tape-left::before,
.box-tape-right::before {
    background-color: #ee2e2e;
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    inset: 0;
}

.box-tape-left {
    animation: bLeft 1.5s ease-in-out infinite;
    border-radius: 1.5em 0 3em 1em / 1.5em 0 3em 3.5em;
    right: calc(100% - 0.75em);
    transform: rotate(35deg);
    transform-origin: 100% 15%;
}

.box-tape-left::before {
    clip-path: polygon(0 42%, 100% 12%, 100% 100%, 0 100%);
}

.box-tape-right {
    animation: bRight 1.5s ease-in-out infinite;
    border-radius: 0 1.5em 1em 3em / 0 1.5em 3.5em 3em;
    left: calc(100% - 0.75em);
    transform: rotate(-35deg);
    transform-origin: 0% 15%;
}

.box-tape-right::before {
    clip-path: polygon(0 12%, 100% 42%, 100% 100%, 0 100%);
}

.box-gifts,
.box-gift,
.box-gift-shadow {
    transform-origin: 50% 100%;
}

.box-gifts {
    animation: box-Bounce 1.5s ease-in-out infinite;
    background: linear-gradient(#cc2424, #cc2424) 50% 50% / 3.3em 100% no-repeat, #dfd9d9;
    border-radius: 1.5em;
    bottom: 0.5em;
    left: 3.3em;
    overflow: hidden;
    width: 11.4em;
    height: 9em;
}

.box-gift,
.box-gift-shadow {
    border-radius: 1em;
    width: 13em;
    height: 3.3em;
}

.box-gift {
    animation: box-Bounce2 1.5s ease-in-out infinite;
    background: linear-gradient(#ee2e2e, #ee2e2e) 50% 50% / 3.3em 100% no-repeat #efffee;
    bottom: 8.7em;
    left: 2.5em;
}

.box-gift-shadow {
    animation: boxShadowBounce 1.5s ease-in-out infinite;
    background-color: #00000010;
    top: -1.5em;
    left: -1em;
}

.box-star {
    animation: starRotate1 1.5s ease-in-out infinite;
    background-color: #fcff50;
    clip-path: polygon(50% 0, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%, 0 50%, 35% 35%);
    transform: scale(0);
}

.box-star-2,
.box-star-4,
.box-star-5 {
    animation-name: starRotate2;
}

.box-star-1 {
    animation-delay: calc(1.5s * 0.5);
    top: 0;
    left: 12.5em;
    width: 1.5em;
    height: 1.5em;
}

.box-star-2 {
    animation-delay: calc(1.5s * 0.125);
    top: 2em;
    left: 10em;
    width: 1.75em;
    height: 1.75em;
}

.box-star-3 {
    animation-delay: calc(1.5s * 0.25);
    top: 8em;
    left: 0;
    width: 1.25em;
    height: 1.25em;
}

.box-star-4 {
    top: 10.5em;
    left: 0;
    width: 1.75em;
    height: 1.75em;
}

.box-star-5 {
    animation-delay: calc(1.5s * 0.375);
    top: 12em;
    left: 1.8em;
    width: 2.5em;
    height: 2.5em;
}

@keyframes bTape {

    from,
    50% {
        transform: translateY(0) rotate(0);
    }

    62.5% {
        transform: translateY(75%) rotate(0);
    }

    68.75% {
        transform: translateY(-37.5%) rotate(15deg);
    }

    75% {
        transform: translateY(-150%) rotate(5deg);
    }

    87.5% {
        transform: translateY(65%) rotate(-3deg);
    }

    to {
        transform: translateY(0) rotate(0);
    }
}

@keyframes bLeft {

    from,
    50% {
        transform: rotate(35deg);
    }

    62.5% {
        transform: rotate(45%);
    }

    75% {
        transform: rotate(30%);
    }

    87.5% {
        transform: rotate(45%);
    }

    to {
        transform: rotate(35deg);
    }
}

@keyframes bRight {

    from,
    50% {
        transform: rotate(-35deg);
    }

    62.5% {
        transform: rotate(-45%);
    }

    75% {
        transform: rotate(-35%);
    }

    87.5% {
        transform: rotate(-45%);
    }

    to {
        transform: rotate(-35deg);
    }
}

@keyframes box-Bounce {

    from,
    50% {
        transform: translateY(0) scale(1, 1);
    }

    62.5% {
        transform: translateY(4%) scale(1.12, 0.89);
    }

    75% {
        transform: translateY(-11%) scale(0.92, 1.1);
    }

    87.5% {
        transform: translateY(0) scale(1.05, 0.9);
    }

    to {
        transform: translateY(0) scale(1, 1);
    }
}

@keyframes box-Bounce2 {

    from,
    50% {
        transform: translateY(0) scale(1, 1) rotate(0);
    }

    62.5% {
        animation-timing-function: ease-in;
        transform: translateY(45%) scale(1.14, 0.95) rotate(0);
    }

    68.75% {
        animation-timing-function: ease-out;
        transform: translateY(-22.5%) scale(1.05, 1.03) rotate(15deg);
    }

    75% {
        animation-timing-function: ease-out;
        transform: translateY(-90%) scale(0.96, 1.1) rotate(5deg);
    }

    87.5% {
        transform: translateY(30%) scale(1.12, 0.93) rotate(-3deg);
    }

    to {
        transform: translateY(0) scale(1, 1) rotate(0);
    }
}

@keyframes boxShadowBounce {

    from,
    50% {
        transform: translateY(0) scale(1, 1) rotate(0);
    }

    62.5% {
        animation-timing-function: ease-in;
        transform: translateY(10%) scale(1.14, 0.95) rotate(0);
    }

    68.75% {
        animation-timing-function: ease-out;
        transform: translateY(-10%) scale(1.05, 1.03) rotate(15deg);
    }

    75% {
        animation-timing-function: ease-out;
        transform: translateY(-30%) scale(0.96, 1.1) rotate(5deg);
    }

    87.5% {
        transform: translateY(10%) scale(1.12, 0.93) rotate(-3deg);
    }

    to {
        transform: translateY(0) scale(1, 1) rotate(0);
    }
}

@keyframes starRotate1 {

    from {
        transform: scale(0) rotate(0);
    }

    25% {
        animation-timing-function: ease-out;
        transform: scale(1) rotate(0.25turn);
    }

    50%,

    to {
        transform: scale(0) rotate(0.5turn);
    }
}

@keyframes starRotate2 {

    from {
        transform: scale(0) rotate(0);
    }

    25% {
        animation-timing-function: ease-out;
        transform: scale(1) rotate(-0.25turn);
    }

    50%,

    to {
        transform: scale(0) rotate(-0.5turn);
    }
}

.box-hidden {
    display: none;
}

@keyframes backgroundColorChange {
    0% {
        background-color: #bda9a9;
    }

    100% {
        background: radial-gradient(circle, rgb(3, 40, 95) 0%, rgb(1, 19, 60) 5%, rgb(1, 19, 54) 20%, rgb(0, 0, 0) 100%);
    }
}

/* Chuyển màu nền khi mở hộp */
.balloon-container.background-change {
    animation: backgroundColorChange 0.1s ease-out forwards;
}

/* ********************************************************************************************************************************* */
/* ************************************************ Màn Hình 2 ********************************************************************* */
/* ********************************************************************************************************************************* */

.balloon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

@media only screen and (max-width: 600px) {

    .balloon {
        display: none;
    }
}

.balloon-pool1,
.balloon-pool2 {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    /* font-family: 'Cookie', cursive; */
    font-family: 'Pacifico', cursive;
}

.balloon-pool1>div,
.balloon-pool2>div {
    width: 100px;
    height: 137px;
    border-radius: 80%;
    margin: 0 10px;
    padding: 10px;
    -webkit-transform-origin: bottom center;
    color: white;
    font-size: 4.5em;
    text-align: center;
    line-height: 115px;
}

/* Balloons colors */
.balloon1 {
    background: rgba(182, 15, 97, 0.9);
    left: 0;
    animation: balloon1 6s ease-in-out infinite;
}

.balloon2 {
    background: rgba(242, 112, 45, 0.9);
    left: 120px;
    animation: balloon2 6s ease-in-out infinite;
    /* box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9); */
}

.balloon3 {
    background: rgba(45, 181, 167, 0.9);
    left: 240px;
    animation: balloon3 6s ease-in-out infinite;
}

.balloon4 {
    background: rgba(190, 61, 244, 0.9);
    left: 360px;
    animation: balloon4 6s ease-in-out infinite;
}

.balloon5 {
    background: rgba(180, 224, 67, 0.9);
    left: 480px;
    animation: balloon5 6s ease-in-out infinite;
}

.balloon6 {
    background: rgba(242, 194, 58, 0.9);
    left: 600px;
    animation: balloon6 6s ease-in-out infinite;
}

.balloon7 {
    background: rgba(232, 58, 158, 0.9);
    left: 720px;
    animation: balloon7 6s ease-in-out infinite;
}

.balloon8 {
    background: rgba(86, 181, 240, 0.9);
    left: 840px;
    animation: balloon8 6s ease-in-out infinite;
}

.balloon9 {
    background: rgba(107, 220, 140, 0.9);
    left: 960px;
    animation: balloon9 6s ease-in-out infinite;
}

.balloon10 {
    background: rgba(250, 150, 45, 0.9);
    left: 1080px;
    animation: balloon10 6s ease-in-out infinite;
}

.balloon11 {
    background: rgba(195, 129, 230, 0.9);
    left: 1200px;
    animation: balloon11 6s ease-in-out infinite;
}

.balloon12 {
    background: rgba(255, 193, 51, 0.9);
    left: 1320px;
    animation: balloon12 6s ease-in-out infinite;
}

.balloon13 {
    background: rgba(43, 214, 101, 0.9);
    left: 1440px;
    animation: balloon13 6s ease-in-out infinite;
}

/* Balloon animations */
@keyframes balloon1 {

    0%,
    100% {
        transform: translateY(0) rotate(-6deg);
    }

    50% {
        transform: translateY(-20px) rotate(8deg);
    }
}

@keyframes balloon2 {

    0%,
    100% {
        transform: translateY(0) rotate(6deg);
    }

    50% {
        transform: translateY(-30px) rotate(-8deg);
    }
}

@keyframes balloon3 {

    0%,
    100% {
        transform: translateY(0) rotate(6deg);
    }

    50% {
        transform: translateY(-20px) rotate(-8deg);
    }
}

@keyframes balloon4 {

    0%,
    100% {
        transform: translateY(0) rotate(-8deg);
    }

    50% {
        transform: translateY(-15px) rotate(10deg);
    }
}

@keyframes balloon5 {

    0%,
    100% {
        transform: translateY(0) rotate(8deg);
    }

    50% {
        transform: translateY(-25px) rotate(-6deg);
    }
}

@keyframes balloon6 {

    0%,
    100% {
        transform: translateY(0) rotate(-10deg);
    }

    50% {
        transform: translateY(-35px) rotate(5deg);
    }
}

@keyframes balloon7 {

    0%,
    100% {
        transform: translateY(0) rotate(10deg);
    }

    50% {
        transform: translateY(-30px) rotate(-12deg);
    }
}

@keyframes balloon8 {

    0%,
    100% {
        transform: translateY(0) rotate(5deg);
    }

    50% {
        transform: translateY(-10px) rotate(10deg);
    }
}

@keyframes balloon9 {

    0%,
    100% {
        transform: translateY(0) rotate(-5deg);
    }

    50% {
        transform: translateY(-20px) rotate(6deg);
    }
}

@keyframes balloon10 {

    0%,
    100% {
        transform: translateY(0) rotate(7deg);
    }

    50% {
        transform: translateY(-15px) rotate(-9deg);
    }
}

@keyframes balloon11 {

    0%,
    100% {
        transform: translateY(0) rotate(8deg);
    }

    50% {
        transform: translateY(-20px) rotate(-10deg);
    }
}

@keyframes balloon12 {

    0%,
    100% {
        transform: translateY(0) rotate(-9deg);
    }

    50% {
        transform: translateY(-15px) rotate(12deg);
    }
}

@keyframes balloon13 {

    0%,
    100% {
        transform: translateY(0) rotate(6deg);
    }

    50% {
        transform: translateY(-20px) rotate(-6deg);
    }
}

.rounded-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #cc246a;
    animation: image-trang 6s ease-in-out infinite;
}

@keyframes image-trang {

    0%,
    100% {
        transform: translateY(0) rotate(6deg);
    }

    50% {
        transform: translateY(-20px) rotate(-6deg);
    }
}

/* ********************************************************************************************************************************* */
/* ************************************************ Thiệp chúc mừng **************************************************************** */
/* ********************************************************************************************************************************* */
.body-card {
    height: 100%;
    margin: 0;
}

.card {
    position: relative;
    width: 300px;
    height: 425px;
    border: 10px solid #9612eb;
    margin: 60px auto 0 auto;
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e6f0e6;
}

.card .text-container {
    width: 80%;
    height: 80%;
    margin: 5% auto auto auto;
}

.strikethrough {
    text-decoration: line-through;
}

.card .text-container #head {
    font-family: 'Nobile', sans-serif;
    font-size: 1.5em;
}

.card p {
    font-size: 1.0em;
    line-height: 1.4;
    font-family: 'Nobile';
    color: #331717;
    font-style: italic;
    text-align: center;
}

.card .front {
    position: absolute;
    width: 300px;
    height: 425px;
    margin: -10px 0px 0px -10px;
    border: 10px solid #9612eb;
    backface-visibility: hidden;
    background-color: #9612eb;
    background-size: contain;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
}

.card:hover .front {
    transform: perspective(800px) rotateY(-170deg);
    background-color: #41718d;
}

.card:hover .back {
    transform: perspective(800px) rotateY(-170deg);
    box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #d2dcd2;
}

.card .back {
    position: absolute;
    width: 300px;
    height: 425px;
    border: 10px solid #9612eb;
    margin: -10px 0px 0px -10px;
    backface-visibility: visible;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
    background-color: #e6f0e6;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.imgset {
    position: relative;
    z-index: 1;
    margin-bottom: -215px;
}

.imgset img {
    box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}