<div *ngIf="!isBackgroundChanged" class="container">
  <div class="box" [ngClass]="{'open': !isBoxHidden, 'box-hidden': isBoxHidden}" (click)="toggleBox()">
    <div class="box-tape">
      <div class="box-tape-left"></div>
      <div class="box-tape-right"></div>
      <div class="box-tape-center"></div>
    </div>

    <div class="box-gifts">
      <div class="box-gift-shadow"></div>
    </div>

    <div class="box-gift"></div>
    <div class="box-star box-star-1"></div>
    <div class="box-star box-star-2"></div>
    <div class="box-star box-star-3"></div>
    <div class="box-star box-star-4"></div>
    <div class="box-star box-star-5"></div>
  </div>
</div>

<div *ngIf="isBackgroundChanged" [ngClass]="{'background-change': isBackgroundChanged}" class="balloon-container">
  <!-- "HAPPY" line -->
  <div class="balloon-pool1">
    <div class="balloon1">H</div>
    <div class="balloon2">A</div>
    <div class="balloon3">P</div>
    <div class="balloon4">P</div>
    <div class="balloon5">Y</div>
  </div>

  <!-- "BIRTHDAY" line -->
  <div class="balloon-pool2">
    <div class="balloon6">B</div>
    <div class="balloon7">I</div>
    <div class="balloon8">R</div>
    <div class="balloon9">T</div>
    <div class="balloon10">H</div>
    <div class="balloon11">D</div>
    <div class="balloon12">A</div>
    <div class="balloon13">Y</div>
  </div>
  <img class="rounded-image" src="assets/trang.jpg" alt="Huyền Trang">
  <div class="body-card">
    <div class="card">
      <div class="back"></div>
      <div class="front">
        <div class="imgset">
          <img width="100%" src="assets/bia-thiep.png">
        </div>
      </div>
      <div class="text-container">
        <p id="head">Lời chúc cho Trang</p>
        <p>Chúc em sinh nhật vui vẻ nhé. Tuổi mới ngày càng xinh hơn, cười nhiều hơn thành công hơn. Quan trọng là phải
          luôn vui vẻ và hạnh phúc. Chúc em tuổi 21 thật ý nghĩa.</p>
        <p>I wish you full of happiness and love. May all your dreams turn come true and may lady luck visit you
          everyday. Happy birthday to one of the greatest people I've ever know.</p>
      </div>
    </div>
  </div>

</div>

<audio autoplay loop>
  <source src="assets/HappyBirthdayPianoVersion.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>